<!-- <p>Nombre</p>
<input type="text" [(ngModel)]="name">
<button (click)="search()">Buscar</button>

<img src= "{{urlImage}}" alt="foto pokemon"> -->

<header>
        <img src="../../../assets/images/logo.png" alt="imagen logo">
        <nav>
            <ul>
                <li>
                    <a class="link" href="">Equipo Pokemon</a>
                </li>
                <li>
                    <a class="link" href="">Lista Pokemon</a>
                </li>
            </ul>
        </nav>
</header> 